# Ignorar directorios específicos de Xcode

NAS-Mountie/NAS-Mountie.xcodeproj/xcuserdata/
NAS-Mountie/NAS-Mountie.xcodeproj/xcshareddata/xcuserdata

# Ignorar archivos generados por macOS

*.xcuserstate
xcuserdata/
**/xcuserdata/
.DS_Store
.xcuserstate
NAS-Mountie/.DS_Store
.xcuserstate

# Ignorar directorios específicos de Xcode

NAS-Mountie/NAS-Mountie.xcodeproj/xcuserdata/
NAS-Mountie/NAS-Mountie.xcodeproj/xcshareddata/
NAS-Mountie/NAS-Mountie.xcodeproj/project.xcworkspace/xcuserdata/josue.xcuserdatad/UserInterfaceState.xcuserstate
NAS-Mountie/NAS-Mountie.xcodeproj/project.xcworkspace/xcuserdata/josue.xcuserdatad/UserInterfaceState.xcuserstate
