# Ignorar directorios específicos de Xcode

NAS-Mounter/NAS-Mounter.xcodeproj/xcuserdata/
NAS-Mounter/NAS-Mounter.xcodeproj/xcshareddata/xcuserdata

# Ignorar archivos generados por macOS

.DS_Store
.xcuserstate
NAS-Mounter/.DS_Store
NAS-Mounter/.xcuserstate

# Ignorar directorios específicos de Xcode

NAS-Mounter/NAS-Mounter.xcodeproj/xcuserdata/
NAS-Mounter/NAS-Mounter.xcodeproj/xcshareddata/
